

@font-face {
    font-family: "Century Gothic";
    src: url(../fonts/gothic_0.TTF);
}



body {
	color: #8b8f14;
	font-family: "Century Gothic", sans-serif;
	background-color: #eeffbb;
	padding: 80px 0;
}



.navbar-header {
	width: 100%;
}
.btn,
.btn:hover,
.btn.hover,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.focus:active,
.btn.focus:active,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
	border-color: #3b3f00;
	outline-style: none;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
	background-color: #6b6f00;
	background-position: 0 -15px;
}
.btn-primary {
	background-image: -webkit-linear-gradient(top,#8b8f14 0,#6b6f00 100%);
	background-image: -o-linear-gradient(top,#8b8f14 0,#6b6f00 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#8b8f14),to(#6b6f00));
	background-image: linear-gradient(to bottom,#8b8f14 0,#6b6f00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8b8f14', endColorstr='#ff6b6f00', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #3b3f00;
	letter-spacing: 3px;
	padding-left: 10px;
	padding-right: 7px;
	text-transform: lowercase;
}
.btn.disabled,
.btn[disabled],
.btn.disabled:hover,
.btn[disabled]:hover,
.btn.disabled:active,
.btn[disabled]:active,
fieldset[disabled] .btn,
.btn-primary:disabled,
.btn-primary[disabled],
.btn-primary[dissbled]:hover {
	background-color: #6b6f00;
	border-color: #9b9f30;
	color: #9b9f30;
}
h1.page_header {
	text-align: center;
}
.panel-default {
  border-color: #bbcc77;
}
.panel-default > .panel-heading {
	background-image: -webkit-linear-gradient(top,#eeffbb 0,#ccdd88 100%);
	background-image: -o-linear-gradient(top,#eeffbb 0,#ccdd88 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#eeffbb),to(#ccdd88));
	background-image: linear-gradient(to bottom,#eeffbb 0,#ccdd88 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeffbb', endColorstr='#ffccdd88', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #bbcc77;
	color: #99aa55;
}
.panel-heading .btn-sm {
	padding-top: 2px;
	padding-bottom: 2px;
}
.panel-body {
	background-color: #eeffcc;
}
.list-group:last-of-type {
	margin-bottom: 0;
}
.list-group-item {
	border-color: #ded;
}
.input-group,
.input-group input,
.input-group span {
	height: 20px;
	line-height: 20px;
	margin: 4px 0 0;
	vertical-align: middle;
}
.input-group input {
	display: inline-block;
	margin-left: 10px;
}
.input-group input:first {
	margin-left: 0;	
}
.input-group span {
	display: inline-block;
	margin-left: 5px;
}



#masthead {
	background-color: #8b8f14;
	border: 0;
	margin-bottom: 40px;
}
#masthead .container-fluid {
	background-color: #8b8f14;
}
#masthead .navbar-brand {
	color: #cece99;
	text-shadow: none;
	text-transform: lowercase;
}
#masthead .navbar-brand span {
	color: #fff;
	text-shadow: none;
}
#masthead .btn {
	margin: 10px 0;
}
#masthead .btn-primary:active {
	border-color: #3b3f00;
}
#masthead .btn-primary:disabled,
#masthead .btn-primary[disabled]:active {
	border-color: #9b9f30;
	box-shadow: none;
	-webkit-box-shadow: none;
}
#welcome,
#thankyou {
	color: #8b8f14;
	padding: 20px 0;
	text-align: center;
}