

@font-face {
    font-family: "Century Gothic";
    src: url(../fonts/gothic_0.TTF);
}



body {
	color: #8b8f14;
	font-family: "Century Gothic", sans-serif;
	background-color: #eeffbb;
	padding: 80px 0;
}



.navbar-header {
	width: 100%;
}
.btn {
	border-color: #3b3f00;
}
.btn:hover,
.btn.hover,
.btn.active.focus,
.btn.active:focus,
.btn.focus {
	border-color: #3b3f00;
	outline: none;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
	background-color: #6b6f00;
	background-position: 0 -15px;
}
.btn-primary {
	background-image: -webkit-linear-gradient(top,#8b8f14 0,#6b6f00 100%);
	background-image: -o-linear-gradient(top,#8b8f14 0,#6b6f00 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#8b8f14),to(#6b6f00));
	background-image: linear-gradient(to bottom,#8b8f14 0,#6b6f00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8b8f14', endColorstr='#ff6b6f00', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #3b3f00;
	letter-spacing: 5px;
	padding-left: 14px;
	padding-right: 10px;
	text-transform: lowercase;
}
.panel-default {
  border-color: #bbcc77;
}
.panel-default > .panel-heading {
	background-image: -webkit-linear-gradient(top,#eeffbb 0,#ccdd88 100%);
	background-image: -o-linear-gradient(top,#eeffbb 0,#ccdd88 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#eeffbb),to(#ccdd88));
	background-image: linear-gradient(to bottom,#eeffbb 0,#ccdd88 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeffbb', endColorstr='#ffccdd88', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #bbcc77;
	color: #99aa55;
}
.panel-heading .btn-sm {
	padding-top: 2px;
	padding-bottom: 2px;
}
.list-group:last-of-type {
	margin-bottom: 0;
}
.list-group-item {
	border-color: #ded;
}




#masthead {
	background-color: #8b8f14;
	border: 0;
	margin-bottom: 40px;
}
#masthead .container-fluid {
	background-color: #8b8f14;
}
#masthead .navbar-brand {
	color: #cece99;
	text-shadow: none;
	text-transform: lowercase;
}
#masthead .navbar-brand span {
	color: #fff;
	text-shadow: none;
}
#masthead .btn {
	margin: 10px 0;
}
#masthead .btn-primary:active {
	border-color: #3b3f00;
}
#intro {
	color: #8b8f14;
	padding: 20px 0;
	text-align: center;
}
#intro .btn-primary {
	margin: 0;
}