            <div id="questions" class="panel panel-default" data-ng-cloak>
                <div class="panel-heading">
                    quick audit
                </div>
                <div class="panel-body" data-ng-cloak>
                	<form name="phil">
                        <ul class="list-group">
                            <li class="list-group-item" data-ng-repeat="question in quickAudit.questions">
                                {{ question.question }}
                                <div class="input-group question">
                                    <ng-form>
                                        <input type="radio" data-ng-model="response[$index]" value="yes"><span>Yes</span>
                                    	<input type="radio" data-ng-model="response[$index]" value="no"><span>No</span>                                    </ng-form>
                                </div>
                            </li>
                        </ul>
                    </form>
                </div>
            </div> 