<!doctype html>
<html lang=en>
    <head>
        <meta charset=utf-8>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/quickaudit.css">

        <title>Quick Audit &mdash; Sage Office Solutions</title>
    </head>
    <body data-ng-app="quickAudit">

		<div class="container" data-ng-controller="quickAuditController">
        
            <div id="intro" ng-if="!started">
                <h1>Sage Quick Audit</h1>
                <div class="panel-body">
                    <button class="btn btn-lg btn-primary" data-ng-click="start()">Start</button>
                </div>
            </div>
                
            <div  id="questions" class="panel panel-default" ng-if="started" data-ng-cloak>
                <div class="panel-heading">
                    Questions
                    <button class="btn btn-sm btn-primary pull-right" data-ng-click="submit()">Submit</button>
                </div>
                <div class="panel-body" data-ng-cloak>
                    <ul class="list-group">
                        <li class="list-group-item" data-ng-repeat="question in quickAudit.questions">{{ question.question }}</li>
                    </ul>
                </div>
            </div>
            
        </div>

    </body>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
    <script src="js/quickAuditApp.js"></script>
</html>